* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .msn {
    text-align: center;    
} */

.text {
    color: black;
    background-color: white;
    resize: none;
}

.teste {
    text-align: left;
    color: black;
    background-color: lightgreen;    
}

.area {
    margin: 500px 0px 0px 0px;
    display: flex;
    justify-content: center;
    flex-direction: row; 
    /* align-items: end; */
       
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;      
    color: white;
    background-color: blue;
}