<div>
    <div class ="painel"  *ngFor="let msg of mensagens"> 
        <div class="teste">
            {{ msg.remetente }}:<br> {{ msg.texto }}
        </div>         
    </div>
</div>
<!-- <fieldset class="msn"> -->
    
<div class="area">
    <legend>Chat:</legend>
    <textarea class="text" id="textarea" [(ngModel)]="mensagem" cols=60 rows="5" maxlength="500" wrap="hard" placeholder="Digite sua mensagem" required></textarea>

    <button class="botao" id="send" (click)="enviarChat()" type="button">Enviar</button>
</div>

<!-- </fieldset> -->




