/* .painel{
    text-align: center;
    background-color: lightgreen;
} */

.msn{
    text-align: center;    
    
}

.teste{
    text-align: center;
    background-color: lightgreen;
    color: black;
    
}